<app-nav></app-nav>

<ul>
  <!--<li *ngFor ="let user of users">
    {{user.userName}}
  </li>
  @for (item of users; track item.id) {
  <li>{{item.userName}}</li>
  }
  <app-home></app-home>
  -->
  <!-- <ngx-spinner bdColor="rgba(0, 0, 0, 1)"
   template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />">
  </ngx-spinner> -->

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-scale-party" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>

<div class="container" style="margin-top:100px;">
  
  <router-outlet></router-outlet>
  
</div>