<div class="row">
    <div class="text-center mt-3">
        <h2>ההתאמות שלך - {{memberService.paginatedResult()?.pagination?.totalItems}}</h2>
    </div>
    
<div class="container mt-3">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
        <div class="d-flex px-2">
            <label class="col-form-label">גיל מ: </label>
            <input type="number" class="form-control ms-1" style="width: 70px;" name="minAge"
                [(ngModel)]="memberService.userParams().minAge">
        </div>
        <div class="d-flex px-2">
            <label class="col-form-label">גיל עד: </label>
            <input type="number" class="form-control ms-1" style="width: 70px;" name="maxAge"
                [(ngModel)]="memberService.userParams().maxAge">
        </div>

        <div class="d-flex px-2">
            <label class="col-form-label">תוצאות: </label>
            <select name="gender" style="width: 130px;" class="form-select ms-1"
                [(ngModel)]="memberService.userParams().gender">
                @for (gender of genderList; track gender.value) {
                <option [value]="gender.value">
                    {{gender.display}}
                </option>
                }
            </select>
        </div>

        <button class="btn btn-primary ms-1" type="submit">ביצוע פילטר</button>
        <button (click)="resetFilters()" class="btn btn-info ms-1" type="button">איפוס</button>

         <div class="col">
            <!-- <div class="btn-group float-end">
                <button type="button" class="btn btn-primary" 
                name="orderBy" (click)="loadMembers()"
                btnRadio="lastActive" 
                [(ngModel)]="memberService.userParams().orderBy">פעילות אחרונה</button>
                <button type="button" class="btn btn-primary" name="orderBy"
                (click)="loadMembers()" btnRadio="created"
                    [(ngModel)]="memberService.userParams().orderBy"> </button>
            </div> -->
        </div> 

    </form>
</div>



        @for (item of memberService.paginatedResult()?.items; track item.id) {
        <div class="col-2">
            <p>{{item.knownAs}}</p>
            <app-member-card [member]="item"></app-member-card>
            </div>
        }

        @if(memberService.paginatedResult()?.pagination)
        {
        <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true"
             [totalItems]="memberService.paginatedResult()?.pagination!.totalItems"
                [itemsPerPage]="memberService.paginatedResult()?.pagination!.itemsPerPage"
                 (pageChanged)="pageChanged($event)"
                [(ngModel)]="memberService.paginatedResult()?.pagination!.currentPage"
                 [maxSize]="10" previousText="&lsaquo;"
                nextText="&rsaquo;"
                 firstText="&laquo;"
                  lastText="&raquo;">
            </pagination>
        </div>
        }

    
   
</div>